/* font */
.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* Reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f8ff;
  color: #333;
  padding: 20px;
}

/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 60px;
  padding-bottom: 100px;
  background-color: transparent;
}

.logo {
  display: flex;
  align-items: center;
  color: #e66000;
}

.logo img {
  height: 80px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 45px;
  padding-left: 1000px;
}

.nav-links a {
  text-decoration: none;
  color: #666;
  font-weight: normal;
}

.nav-links a.active {
  color: #000;
  font-weight: bold;
}

.cart {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #000;
  padding-right: 150px;
}

.cart img {
  height: 20px;
  margin-right: 5px;
}

/* Hero section */
.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 60px;
}

.hero-text {
  max-width: 600px;
}

.hero-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-text strong {
  color: #000;
}

.highlight {
  color: #e66000;
}

.hero-text p {
  font-size: 16px;
  color: #777;
  line-height: 1.6;
}

.hero-image img {
  max-width: 500px;
  height: 350px;
  border-radius: 10px;
  margin-bottom: 50px;
}
/* product-section */

.product-section {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 20px;
  background-color: #fff;
}

.product-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.highlight {
  color: #e66000;
}

.subtitle {
  font-size: 16px;
  color: #555;
  max-width: 700px;
  margin: 0 auto 40px auto;
}


/* Grid layout */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

/* Individual card */
.product-card {
  padding: 15px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.product-card img {
  width: 250px;
  height: 300px;
}

.product-card h3 {
  margin: 15px 0 5px;
  font-size: 18px;
  font-weight: 500;
}

.price {
  font-weight: bold;
  margin-bottom: 15px;
}

button {
  background-color: #e66000;
  color: #fff;
  border: none;
  padding: 10px 50px;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
}

button:hover {
  background-color: #d14f00;
}
